# Ignore node_modules (since we'll install dependencies in the container)
node_modules/

# Ignore TypeScript files (we don't need them in the final container)
*.ts

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore build files if not required (e.g., build artifacts that are recreated)
dist/

# Ignore Dockerfile, if it's not needed in the final image
Dockerfile

# Ignore IDE settings (VSCode, WebStorm, etc.)
.vscode/
.idea/

# Ignore local config files
*.local

#OS-specific files
.DS_Store

# Ignore test files
**/*.test.ts
**/*.test.js